<div class="system">
            <span class="product-variant__name featured-product-title">Pairs Well With</span>

              {% assign meta_products_string = product.metafields.custom.featured_products | remove: 'gid://shopify/Product/' | remove: "[" | remove: "]" | remove: '"' %}
          
            {% assign meta_product_ids = meta_products_string | split: ',' %}
        
          <ul class="product-variant-grp">
            {% for meta_product_id in meta_product_ids %}
              {%- liquid
                assign product_id = meta_product_id | times: 1
                assign products_obj = collections.all.products | where: 'id', product_id
                assign meta_product =  products_obj[0]
            -%}
              <div class="frequentyly-img-text">
              <div class="frequentyly-img">
              <img src="{{ meta_product.featured_image | product_img_url: '100x100'}}">
              </div>
              <div class="frequentyly-text">
              <li class="meta-products {% if product.handle == meta_product.handle%}active-product{% endif%}"><a href="{{ meta_product.url }}" class="product-link">{{ meta_product.title }}</a></li>

                <form method="post" action="/cart/add">
                
                <input type="hidden" name="id" value="{{ meta_product.variants.first.id }}" />
                
                
                <input type="submit" value="Add To Bag - {{ meta_product.price | money_without_trailing_zeros }}" class="btn button-frequently-bought" />
                
                </form>
  
            </div>
              </div>  
           {% endfor %}
            </ul>
</div>

<style>
.frequentyly-img-text {
    display: flex;
    flex-direction: row;
}
  .frequentyly-img {
    width: 30%;
}

.frequentyly-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}  

  ul.product-variant-grp {
    padding-left: 0px;
}


.frequentyly-text li.meta-products {
    list-style-type: none;
    padding-bottom: 10px;
}

.frequentyly-text li.meta-products a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

input.btn.button-frequently-bought {
    padding: 8px 20px;
    background-color: #D3BBDD;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

ul.product-variant-grp {
    border: 1px solid #000;
}

.frequentyly-img-text:not(:last-child)
  {
    border-bottom: 1px solid #000;
  }

span.product-variant__name.featured-product-title {
    font-size: 20px;
    color: #000;
}
  
</style>